* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* жирность */
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.intro {
    background: #D9EFA6;
    width: 100%;
}
header {
    padding: 50px 50px 30px;
}
header .logo {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
}
header nav {
    float: right;
    width: 60%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: #000;
}
header nav ul li:not(.btn) a:hover {
    border-bottom: 5px solid #687E0F;
}
header nav ul li.btn a {
    background: #fff ;
    padding: 9px 17px;
    border-radius: 5px;
}
header nav ul li.btn a:hover {
    background: #687E0F;
}
.intro{
    height: 700px;
 }
.hero {
    padding-bottom: 100px;
    text-align: center;
}

.hero--info {
    width: 1250px;
    padding-top: 30px;
    
}

.hero--info h1 {
    width: 1250px;
  font-size: 64px;
  font-weight: 400;
  padding-left: 150px;

}
.highlight {
    color: #687E0F;
}

.hero--info h2 {
    width: 1370px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-left: 100px;
    padding-top: 30px;
  }
.hero--info h3 {
    width: 1370px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000;
  }
.btn1 {
    background: #fff;
    width: 400px;
    height: 80px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 400;
    border: none;
  }

.btn1:hover {
background: #687E0F;
}

.back-to-top {
position: fixed;
left: 20px;
right: 20px;
width: 50px;
height: 50px;
background-color: #000;
border: none;
border-radius: 50px;
color: #fff;
font-size: 30px;
text-align: center;
padding-bottom: 8px;
}

.page2 {
    width: 1519px;
    height: 700px;
    background: #E7DFDB;
}

.page2 h1 {
    width: 1250px;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    padding-left: 150px;
    padding-top: 50px;
}

.page2 h2 {
    width: 1250px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-left: 150px;
    padding-top: 50px;
}
.highlight2 {
    color: #687E0F;
}
.btn2 {
    background: #687E0F;
    width: 400px;
    height: 80px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 400;
    border: none;
    justify-content: center;
    align-items: center;
}
.btn2:hover {
    background: #fff;
}
.кнопка2 {
   padding-left: 600px;
   padding-top: 50px;
}

.page2 h3 {
    width: 1250px;
    font-size: 36px;
    font-weight: 500;
    padding-left: 250px;
    padding-top: 50px;
}
.page2 ul {
    list-style-type: disc;
    padding-left: 250px;
    padding-top: 40px;
}
.page2 li {
    margin-bottom: 15px;
}

.page3 {
    width: 1519px;
    height: 700px;
    background: #687E0F;
}
.page3 h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}

.page3 ul {
    list-style-type: disc;
    color: #fff;
    padding-left: 80px;
    padding-top: 40px;
    font-size: 25px;
    font-weight: 400;
}
.page3 ol {
    margin-bottom: 15px;
}

.highlight3 {
    font-weight: 700;
}

.btn3 {
   background-color: #fff;
   width: 400px;
   height: 80px;
   border: none;
   border-radius: 20px;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   font-weight: 400;
 }
 .кнопка3 {
    padding-left: 600px;
    padding-top: 70px;
 }
 .btn3:hover {
    background: #D9EFA6;
    }
html{
    scroll-behavior: smooth;
}

.languages{ 
    width: 1519px;
    height: 700px;
    background: #D9EFA6;
}
.languages h1{
    color: #687E0F;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}
.languages h2{
    color: #000;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}

.languages nav {
    padding-left: 450px;
    padding-top: 150px;
    width: 40%;
    font-size: 20px;
    font-weight: 700;
}

.languages nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.languages nav ul li {
    display: inline-block;
}

.languages li:hover{
    border-bottom: 5px solid #687E0F;
}
.languages h3 {
    color: #000;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    padding-top: 150px;
}
.page4 {
    width: 1519px;
    height: 700px;
    background: #E7DFDB;
}
.table {
    margin: auto;
    border-spacing: 15px;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
    font-size: 38px;
}
.th, td {
    
padding: 70px;
border: 1px solid #000;
}
.th {
    font-weight: 500;
}
.container1 {
    padding-left: 250px;
    padding-top: 100px;

}
.page4 h1{
    color: #687E0F;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}
.page4 h2 {
    width: 1200px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding-left: 160px;
    padding-top: 30px;
}
.btn4 {
    background-color: #687E0F;
    width: 400px;
    height: 80px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
  }
  .кнопка4 {
     padding-left: 580px;
     padding-top: 50px;
  }
  .btn4:hover {
     background: #fff;
 }

.teachers { 
    width: 1519px;
    height: 700px;
    background: #687E0F;
}
.teachers h6{
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}
.teachers h1 {
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 60px;
}

.teachers h2 {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    padding-left: 80px;
    padding-right: 60px;
}
.teachers h3 {
    font-weight: 700;
    font-size: 23px;
    color: #fff;;
    padding-right: 60px;
    padding-left: 80px;
    text-align: left;
}

.teachers h4 {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    padding-left: 80px;
    padding-right: 60px;
    text-align: left;
}

.btn5 {
    background-color: #fff;
    width: 400px;
    height: 80px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
}
.кнопка5 {
    padding-left: 580px;
    padding-top: 50px;
}
.btn5:hover {
    background: #D9EFA6;
}
.english {
    width: 1519px;
    height: 700px;
    background: #E7DFDB;
}
.english h1 {
    color: #687E0F;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}
.english h2 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.english h3 { 
    font-weight: 700;
    font-size: 19px;
    padding-top: 40px;
    text-align: center;
}

.english li {
    color: #000;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1px;
}

.english h4 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.btn6 {
    background-color: #687E0F;
    width: 400px;
    height: 80px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
}
.кнопка6 {
    padding-left: 580px;
    padding-top: 30px;
}
.btn6:hover {
    background: #D9EFA6;
}

.forfoto img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 70px;
}
.forfoto1 img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 1130px;
}

.german {
    width: 1519px;
    height: 700px;
    background: #687E0F;
}

.german h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}
.german h2 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.german h3 { 
    font-weight: 700;
    font-size: 19px;
    padding-top: 40px;
    text-align: center;
    color: #fff;
}

.german li {
    color: #fff;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1px;
}

.german h4 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.german .btn6 {
    background-color: #fff;
    width: 400px;
    height: 80px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
}
.кнопка6 {
    padding-left: 580px;
    padding-top: 30px;
}
.btn6:hover {
    background: #D9EFA6;
}

.german .forfoto img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 70px;
}
.german .forfoto1 img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 1130px;
}

.french {
    width: 1519px;
    height: 700px;
    background: #E7DFDB
}

.french h1 {
    color: #687E0F;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}
.french h2 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.french h3 { 
    font-weight: 700;
    font-size: 19px;
    padding-top: 40px;
    text-align: center;
    color: #000;
}
.french li {
    color: #000;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1px;
}

.french h4 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.btn6 {
    background-color: #687E0F;
    width: 400px;
    height: 80px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
}
.кнопка6 {
    padding-left: 580px;
    padding-top: 30px;
}
.btn6:hover {
    background: #D9EFA6;
}

.french .forfoto img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 70px;
}
.french .forfoto1 img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 1130px;
}

.itali {
    width: 1519px;
    height: 700px;
    background: #687E0F;
}

.itali h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}
.itali h2 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.itali h3 { 
    font-weight: 700;
    font-size: 19px;
    padding-top: 40px;
    text-align: center;
    color: #fff;
}

.itali li {
    color: #fff;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1px;
}

.itali h4 {
    width: 1200px;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    padding-left: 190px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
}

.itali .btn6 {
    background-color: #fff;
    width: 400px;
    height: 80px;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
}
.itali .кнопка6 {
    padding-left: 580px;
    padding-top: 30px;
}
.itali .btn6:hover {
    background: #D9EFA6;
}

.itali .forfoto img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 70px;
}
.itali .forfoto1 img {
    width: 300px;
    height: 170px;
    position: absolute;
    padding-left: 1130px;
}

.rewievs {
    width: 1519px;
    height: 700px;
    background: #D9EFA6;
}

.container3 {
    padding-left: 230px;
    padding-top: 60px;
    display: flex;
    gap: 20px;
}
.block {
    color: #fff;
    background-color: #687E0F;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 180px;
    padding-top: 30px;
}

.rewievs h1 {
    color: #687E0F;
    font-size: 64px;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
}
.rewievs h2 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    padding-left: 100px;
    padding-top: 100px;
    width: 500px;
}
.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #93A649;
    padding: 20px;
    border-radius: 10px;
}
.all{ 
    padding-left: 800px;
    padding-top: 40px;
}
.form-group {
    margin-bottom: 15px;
    
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #fff;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    border: none;
}
.form-group button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
}

.form-group button:hover {
background-color: #383838;
}

.rewievs h2 {
    position: absolute;
    padding-left: 200px;

}
.languages a {
    color: #000;
}

.container4 {
    padding-left: 230px;
    padding-top: 100px;
    display: flex;
    gap: 20px;
    
}
.container4 .block {
    color: #000;
    background-color: #E7DFDB;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: 50px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}
.contacts {
    width: 1519px;
    height: 700px;
    background-color: #687E0F;
}

.contacts h1 {
    color: #E7DFDB;
    font-size: 64px;
    font-weight: 500;
    padding-top: 50px;
    text-align: center;
}

.contacts h2, h3, h4 {
    color: #E7DFDB;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 30px;
}

footer{ 
        padding: 50px 50px 30px;
        background-color: #E7DFDB;
    }
footer .logo {
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 700;
    }
footer nav {
        float: right;
        width: 60%;
    }
    
footer nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    footer nav ul li {
        display: inline-block;
    }
    footer nav ul li a {
        color: #000;
    }
    footer nav ul a:hover {
        border-bottom: 5px solid #687E0F;
    }
    footer nav ul li.btn a {
        background: #fff ;
        padding: 9px 17px;
        border-radius: 5px;
    }
footer nav ul li.btn a:hover {
        background: #687E0F;
} 
